.navbar-left-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    height: 100%;
    background-color: #171616;
    background-image: none;
    background-position: 0 0;
    text-align: center;
    .logo {
        padding: 3rem 0;
        img {
            height: 144px;
        }
    }
    .navigation-menu {
        display: flex;
        flex-direction: column;
        &::before,
        &::after {
            content: '';
            height: 1px;
            background: grey;
            width: 50%;
            display: flex;
            transform: translate(50%, 0%);
        }
        .menu-link {
            padding: 0.5rem 0;
            color: #fff;
            text-decoration: none;
            &:hover {
                background-color: #6ba880;
            }
            &:first-child {
                padding-top: 1rem;
            }
            &:last-child {
                padding-bottom: 1rem;
            }
        }
    }
}