.header-container{
    background-color: black;
    .header-content{
        display: flex;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        align-items: center;
    }
    .navbar-container{
        ul{
            list-style: none;
            display: flex;
            margin: 0;
            padding-left: 0.5rem;
        }
        .nav-link{
            color: #d6d3d1;
            &:hover{
                color: white;
            }
        }
    }
    .navbar-logo{
        img{
            width: 250px;
            height: 50px;
        }
    }
}
