.header-container {
    background-color: black;
    .header-content {
        display: flex;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        align-items: center;
        .navbar-logo {
            background-color: #103a32;
            padding: 0 0.5rem;
        }
    }
    .navbar-container {
        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding-left: 0.5rem;
        }
        .nav-link {
            color: #d6d3d1;
            &:hover {
                color: white;
            }
        }
    }
    .navbar-logo {
        img {
            height: 40px;
        }
    }
}